.profile-image{
    height: 30px;
    margin-top: 5px;
    margin: 0 5px;
}

.navbar-brand{
    color: rgba(240, 0, 0, 0.87);
}

.auth-btn {
    background-color: rgba(240, 0, 0, 0.87);
    color: white !important;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 5px;
    padding: none;
}


#textarea{
    display: none;
}
