.todo{
    width: 100%;
    min-height: 80vh;
    max-height: auto;
    position: relative;
}

.todo-inputs{
    border: none;
    outline: none;
}

.todo-inputs-div{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.add-bttn{
    background-color: rgba(240, 0, 0, 0.87);
    border-radius: 5px;
    color: white !important;
    font-weight: bold;
    border: none;
    outline: none;
}



.todo-card-p{
    text-align: justify;
    text-justify: inter-word;
}

.card-icons{
    font-size: 18px;
    cursor: pointer;
}


.del{
    color: rgba(240, 0, 0, 0.87);
}

.card-icon-head{
    cursor: pointer;
}

.card-icon-head:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.todo-update{
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 100px;
    left: 0px;
    background-color: blanchedalmond;
    display: none;
}

.update{
    height: 100%;
}