.todo{
    width: 100%;
    min-height: 80vh;
    max-height: auto;
}

.todo-inputs{
    border: none;
    outline: none;
}

.todo-inputs-div{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.add-bttn{
    background-color: rgba(240, 0, 0, 0.87);
    border-radius: 5px;
    color: white !important;
    font-weight: bold;
    border: none;
    outline: none;
}