.home{
    height: 90vh;
    width: 100%;
}

.home-btn{
    background-color: rgba(240, 0, 0, 0.87);
    border-radius: 5px;
    color: white !important;
    font-weight: bold;
    border: none;
    outline: none;
}